This notebook is part of the Omdena project in Liberia on malaria

In this notebook, general data exploration has been done. That is the csv files have been loaded and observed. files which need restructuring have been done so using mostly excel. once a file is restructure and can be used for preliminary analysis and eda, it is then saved to the folder "/data/semi clean data" which will be used for further analysis.

In [1]:
# load required libraries for the eda
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# First load the datasets from the raw data folder

# first dataset: malaria prevalence according to microscopy

df1 = pd.read_csv(r'..\data\raw data\Malaria-Related-cases\Malaria-Related-cases\Predictive Modelling for Malaria Prevention - By Microscpy.csv')

In [3]:
# display the data in df1

df1.head()

,Country,Survey,Characteristic,Malaria prevalence according to microscopy,Unnamed: 4,Unnamed: 5
0,Liberia,2022 MIS,Groups of Counties : Monrovia (L1),0.7 (CI: 0.0 – 2.1),NaN,NaN
1,Liberia,2011 MIS,Monrovia,7.1 (CI: 3.4 – 10.8),NaN,Percentage of children age 6-59 months tested ...
2,Liberia,2022 MIS,Total,10.2 (CI: 7.6 – 12.8),NaN,NaN
3,Liberia,2022 MIS,Groups of Counties : South Central (L1),11.3 (CI: 4.9 – 17.6),NaN,NaN
4,Liberia,2022 MIS,Groups of Counties : North Western (L1),11.5 (CI: 8.0 – 15.1),NaN,NaN

Observation (changes made)
- data about counties were extracted to one excel file with three columns: survey(MIS), county, malaria prevalence.
- data about total prevalence per year was extracted to the 2 page in the same workbook with 2 columns: survey(MIS), malaria prevalence.
- the workbook is stored in the semi data folder with name "Predictive Modelling for Malaria Prevention - By Microscpy.xlsx"

In [14]:
# loading the 2nd notebook

df2 = pd.read_csv(r'..\data\raw data\Malaria-Related-cases\Malaria-Related-cases\Predictive Modelling for Malaria Prevention - Malaria Indicator Data.csv')

In [15]:
# display the data
df2

,Unnamed: 0,Liberia,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Indicator,2009,2011,2013,2016,2019-20,2022
1,Households with at least one insecticide-treat...,47.2 %,49.7 %,54.6 %,61.5 %,54.7 %,72.3 %
2,Households with at least one insecticide-treat...,11.9 %,16.9 %,22.1 %,25.2 %,25.2 %,32.8 %
3,Persons with access to an insecticide-treated ...,25.4 %,30.8 %,37.0 %,41.5 %,39.7 %,52.4 %
4,Population who slept under an insecticide-trea...,22.8 %,32.1 %,31.7 %,39.3 %,39.0 %,43.9 %
5,Children under 5 who slept under an insecticid...,26.4 %,37.1 %,38.1 %,43.7 %,44.3 %,50.3 %
6,Children under 5 who slept under an insecticid...,51.4 %,68.0 %,63.2 %,65.7 %,71.7 %,62.8 %
7,Pregnant women who slept under an insecticide-...,32.9 %,39.0 %,37.1 %,39.5 %,46.5 %,52.6 %
8,Pregnant women who slept under insecticide-tre...,63.2 %,77.4 %,63.2 %,69.9 %,78.2 %,71.0 %
9,SP/Fansidar 3+ doses during pregnancy,11.0 %,26.5 %,17.9 %,23.1 %,40.3 %,62.6 %
10,"SP/Fansidar 2+ doses, at least one during ANC ...",45.1 %,49.6 %,47.6 %,54.5 %,69.2 %,79.5 %
11,Children with fever for whom advice or treatme...,78.3 %,76.6 %,77.9 %,78.2 %,80.9 %,60.4 %
12,Children who took any ACT,44.5 %,69.6 %,42.9 %,81.1 %,41.2 %,80.8 %
13,Children with hemoglobin lower than 8.0 g/dl,4.7 %,7.7 %,--,8.3 %,8.9 %,2.1 %
14,Malaria prevalence according to RDT,36.5 %,44.7 %,--,44.9 %,--,17.7 %
15,Malaria prevalence according to microscopy,31.7 %,27.8 %,--,--,--,10.2 %
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Source: The DHS Program,NaN,NaN,NaN,NaN,NaN,NaN

Changes made:
- The data was transposed to have indicators as columns plus year as an additional column

In [18]:
# loading the third workbook

df3 = pd.read_csv(r'..\data\raw data\Malaria-Related-cases\Malaria-Related-cases\Predictive Modelling for Malaria Prevention - Population denominator for case incidence .csv')

In [19]:
df3

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Year,Population denominator for incidence and morta...,Cases,NaN,NaN,Deaths,NaN,NaN
2,NaN,NaN,Lower,Point,Upper,Lower,Point,Upper
3,2000,2895224,784000,1248403,1870000,5520,5872,6250
4,2001,2981648,830000,1311933,1965000,5360,5697,6070
5,2002,3060599,838000,1343961,2049000,5040,5355,5700
6,2003,3085173,843000,1339076,2021000,4600,4887,5200
7,2004,3122447,831000,1270287,1886000,3560,3778,4020
8,2005,3266318,886000,1269211,1765000,3720,3956,4210
9,2006,3455397,956000,1300190,1722000,3130,3326,3530
10,2007,3632740,1020000,1347464,1742000,2960,3144,3340
11,2008,3783887,1090000,1403261,1770000,3320,3546,3780
12,2009,3905066,1073000,1384603,1769000,2970,3161,3370
13,2010,4019956,1037000,1354819,1748000,2570,2738,2920
14,2011,4181150,1031000,1354061,1745000,2820,3016,3230
15,2012,4331740,981000,1328628,1758000,2750,2939,3160
16,2013,4427313,955000,1381944,1879000,2730,2940,3170
17,2014,4519398,1106000,1506350,2024000,3030,3282,3580
18,2015,4612329,1223000,1591767,2054000,3110,3409,3770
19,2016,4706097,1436000,1773971,2171000,3560,3971,4470
20,2017,4796631,1555000,1939400,2403000,3830,4369,5040
21,2018,4889391,1496000,1966210,2550000,3850,4473,5280
22,2019,4985289,1383000,1954336,2690000,3720,4407,5320
23,2020,5087584,1172000,1914081,2944000,3340,4629,6540
24,2021,5193416,1124000,1852429,2958000,2980,3899,5330
25,2022,5302681,1097000,1853086,2911000,2900,3836,5350

Changes made:
- data was reformated to have 8 columns: year, Population denominator for incidence and mortality rate,	Cases(lower),	Cases(point),	Cases(upper),	Deaths(lower),	Deaths(point),	Deaths(upper)
- lower and upper indicate bounds (confidence intervals)

In [24]:
# read the 4th dataset

df4 = pd.read_csv(r'..\data\raw data\Malaria-Related-cases\Malaria-Related-cases\Predictive Modelling for Malaria Prevention - Rapid Diagnostic Tests (RDTs).csv')

In [25]:
df4

,Survey,Characteristic,Malaria prevalence according to RDT,Liberia,Unnamed: 4
0,2022 MIS,Total,17.7 (CI: 14.5 – 21.0),NaN,NaN
1,2022 MIS,Age in months : 6-8,5.1 (CI: 1.1 – 9.1),NaN,Notes:
2,2022 MIS,Age in months : 9-11,5.2 (CI: 1.1 – 9.3),1.0,Includes the 6 counties of the country.
3,2022 MIS,Age in months : 12-17,8.8 (CI: 5.3 – 12.3),2.0,The confidence interval (CI) provides a measur...
4,2022 MIS,Age in months : 18-23,12.4 (CI: 7.5 – 17.2),NaN,NaN
5,2022 MIS,Age in months : 24-35,18.9 (CI: 13.8 – 24.0),NaN,NaN
6,2022 MIS,Age in months : 36-47,20.9 (CI: 15.0 – 26.7),NaN,NaN
7,2022 MIS,Age in months : 48-59,26.4 (CI: 20.9 – 32.0),NaN,NaN
8,2022 MIS,Groups of Counties : Monrovia (L1),4.1 (CI: 1.0 – 7.2),NaN,NaN
9,2022 MIS,Groups of Counties : North Western (L1),19.5 (CI: 14.5 – 24.5),NaN,NaN
10,2022 MIS,Groups of Counties : South Central (L1),17.3 (CI: 8.6 – 25.9),3.0,Example:
11,2022 MIS,Groups of Counties : South Eastern A (L1),23.4 (CI: 11.5 – 35.3),NaN,5.1 (CI: 1.1 - 9.1)
12,2022 MIS,Groups of Counties : South Eastern B (L1),32.8 (CI: 28.7 – 36.9),NaN,RDT = 5.1
13,2022 MIS,Groups of Counties : North Central (L1),22.2 (CI: 16.6 – 27.7),NaN,Range: 1.1 - 9.1
14,2016 MIS,Total,44.9 (CI: 38.8 – 51.0),NaN,NaN
15,2016 MIS,Age in months : 6-8,29.9 (CI: 20.1 – 39.7),NaN,NaN
16,2016 MIS,Age in months : 9-11,24.1 (CI: 14.6 – 33.5),NaN,NaN
17,2016 MIS,Age in months : 12-17,30.7 (CI: 21.3 – 40.0),NaN,NaN
18,2016 MIS,Age in months : 18-23,40.6 (CI: 31.9 – 49.4),NaN,NaN
19,2016 MIS,Age in months : 24-35,48.2 (CI: 41.4 – 55.1),NaN,NaN
20,2016 MIS,Age in months : 36-47,50.8 (CI: 43.2 – 58.4),NaN,NaN
21,2016 MIS,Age in months : 48-59,52.9 (CI: 44.6 – 61.3),NaN,NaN
22,2016 MIS,Groups of Counties : Monrovia (L1),12.4 (CI: 9.2 – 15.6),NaN,NaN
23,2016 MIS,Groups of Counties : North Western (L1),46.1 (CI: 39.0 – 53.3),NaN,NaN
24,2016 MIS,Groups of Counties : South Central (L1),52.1 (CI: 42.7 – 61.5),NaN,NaN
25,2016 MIS,Groups of Counties : South Eastern A (L1),58.4 (CI: 48.2 – 68.5),NaN,NaN
26,2016 MIS,Groups of Counties : South Eastern B (L1),68.8 (CI: 58.9 – 78.7),NaN,NaN
27,2016 MIS,Groups of Counties : North Central (L1),61.7 (CI: 54.7 – 68.8),NaN,NaN
28,2011 MIS,Total,44.7 (CI: 40.1 – 49.2),NaN,NaN
29,2011 MIS,Age in months : 6-8,15.2 (CI: 7.9 – 22.4),NaN,NaN
30,2011 MIS,Age in months : 9-11,35.5 (CI: 24.9 – 46.1),NaN,NaN
31,2011 MIS,Age in months : 12-17,31.3 (CI: 24.7 – 37.8),NaN,NaN
32,2011 MIS,Age in months : 18-23,40.8 (CI: 31.4 – 50.2),NaN,NaN
33,2011 MIS,Age in months : 24-35,45.4 (CI: 39.8 – 50.9),NaN,NaN
34,2011 MIS,Age in months : 36-47,50.9 (CI: 44.2 – 57.6),NaN,NaN
35,2011 MIS,Age in months : 48-59,54.9 (CI: 48.5 – 61.3),NaN,NaN
36,2011 MIS,Monrovia,15.3 (CI: 9.8 – 20.8),NaN,NaN
37,2011 MIS,North Western,49.3 (CI: 41.1 – 57.6),NaN,NaN
38,2011 MIS,South Central,49.6 (CI: 39.9 – 59.3),NaN,NaN
39,2011 MIS,South Eastern A,55.3 (CI: 47.6 – 63.0),NaN,NaN
40,2011 MIS,South Eastern B,70.5 (CI: 64.8 – 76.2),NaN,NaN
41,2011 MIS,North Central,49.5 (CI: 42.1 – 57.0),NaN,NaN
42,2009 MIS,Total,36.5 (CI: 31.8 – 41.3),NaN,NaN
43,2009 MIS,Age in months : 6-8,10.5 (CI: 4.2 – 16.9),NaN,NaN
44,2009 MIS,Age in months : 9-11,21.5 (CI: 12.9 – 30.2),NaN,NaN
45,2009 MIS,Age in months : 12-17,31.1 (CI: 23.9 – 38.4),NaN,NaN
46,2009 MIS,Age in months : 18-23,29.0 (CI: 23.1 – 34.8),NaN,NaN
47,2009 MIS,Age in months : 24-35,37.9 (CI: 32.1 – 43.7),NaN,NaN
48,2009 MIS,Age in months : 36-47,44.5 (CI: 38.3 – 50.8),NaN,NaN
49,2009 MIS,Age in months : 48-59,44.8 (CI: 39.1 – 50.4),NaN,NaN
50,2009 MIS,Groups of Counties : Monrovia (L1),19.4 (CI: 13.5 – 25.2),NaN,NaN
51,2009 MIS,Groups of Counties : North Western (L1),33.5 (CI: 19.8 – 47.3),NaN,NaN
52,2009 MIS,Groups of Counties : South Central (L1),32.1 (CI: 21.7 – 42.4),NaN,NaN
53,2009 MIS,Groups of Counties : South Eastern A (L1),29.6 (CI: 20.0 – 39.2),NaN,NaN
54,2009 MIS,Groups of Counties : South Eastern B (L1),43.4 (CI: 37.0 – 49.8),NaN,NaN
55,2009 MIS,Groups of Counties : North Central (L1),45.8 (CI: 38.4 – 53.2),NaN,NaN

Changes made:
- 3 files were created in an excel workbook
- 1st file has 4 columns: 	survey (MIS)	age_group(months)	malaria prevalence according to RDT and	CI
- 2nd file has 4 columns: 	survey (MIS),	counties,	malaria prevalence according to RDT,	CI
- 3rd file has 3 columns and data for year totals: survey(MIS)	malaria prevalence according to RDT and	CI

In [32]:
# the 5th dataset

df5 = pd.read_csv(r'..\data\raw data\Malaria-Related-cases\Malaria-Related-cases\Predictive Modelling for Malaria Prevention - Reported Malaria deaths, 2010-2022.csv')

In [33]:
df5

,Year,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Deaths,1422,-,1725,1191,2288,1379,1259,758,-,602,-,248,353

changes:
- May be simply transposed

In [36]:
# read the 6th dataset

df6 = pd.read_csv(r'..\data\raw data\Malaria-Related-cases\Malaria-Related-cases\Predictive Modelling for Malaria Prevention - Reported maralia cases by species, 2010-2022.csv')
df6

,"Reported maralia cases by species, 2010-2022",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Year,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,Indigenous,922173,1921159,1412629,1244220,881224,941711,1191137,1093115,-,915845,-,912436,696684
2,P.falciparum,212927,577641,1407455,1244220,864204,-,809356,-,-,915845,-,912436,696684
3,P.vivax,-,-,-,-,-,-,-,-,-,-,-,-,-
4,Mixed cases,0,-,-,-,-,0,0,0,0,0,-,-,0
5,Other cases,0,0,0,0,0,0,0,0,0,0,0,0,0

changes
- may be simply transposed

The end.

Contributor: Ndong Henry